<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>House Price Prediction</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css') }}">
    <script src='main.js'></script>
</head>

<body>
    <div class="register_page">
        <div class="form">
            <form action="{{url_for('predict')}}" method="POST">
                Kamar: <input type="number" name='bedrooms' placeholder="Jumlah kamar yang di ingikan"><br>
                Kamar mandi: <input type="number" name='bathrooms' placeholder="Jumlah kamar mandi yang di inginkan"><br>
                Jumlah lantai: <input type="number" name='floors' placeholder="Jumlah lantai yang di inginkan"><br>
                Tahun di bangun: <input type="number" name='yr_built' placeholder="Tahun di bangun"><br>
                <input type="submit" value="Perdiksikan" class="submit">
            </form>
            <p> Prediksi harga rumah adalah: Rp.{{data}}</p>
        </div>

    </div>


</body>

</html>